header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    width: 100dvw;
    height: 4.2rem;
    background-color: rgba(255, 255, 255, .9);
    border-bottom: 1px solid #999;
  }

  #pcNav {
    display: none;
  }

  /*///// Hide Checkbox /////*/
  #checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /*///// lineMenu /////*/
  #lineMenu {
    position: fixed;
    top: 1.5rem;
    right: 5rem;
    width: 36px;
    height: 16px;
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
  }

  #lineMenu,
  #lineMenu span {
    z-index: 10;
  }

  #lineMenu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 6px;
    transition: all 0.5s;
  }

  #lineMenu span:nth-of-type(1) {
    top: 0;
  }

  #lineMenu span:nth-of-type(2) {
    bottom: 0;
  }

  #lineMenu p {
    position: absolute;
    top: 50%;
    left: 2.6rem;
    transform: translateY(-50%);
    font-weight: bold;
  }

  #checkbox:checked ~ label span:nth-of-type(1) {
    transform: translateY(6px) rotate(-20deg);
  }

  #checkbox:checked ~ label span:nth-of-type(2) {
    transform: translateY(-6px) rotate(20deg);
  }

  /*///// Global Nav /////*/
  #globalNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    background-color: rgb(255, 185, 0, .9);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }

  #checkbox:checked ~ #globalNav {
    visibility: visible;
    opacity: 1;
  }

  #globalNav ul {
    list-style: none;
    padding: 80px 4%;
    height: 100vh;
    height: 100dvh;
    overflow-y: scroll;
  }

  /*///// Global Nav and Webpage style /////*/
  #globalNav li {
    margin: 0 auto 0.3rem;
    max-width: 800px;
    border-left: 6px solid #333;
  }

  #globalNav li a {
    display: block;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, .5);
    color: #333;
    text-decoration: none;
    transition: all 0.5s;
  }

  #globalNav li a:hover {
    background-color: rgba(255, 255, 255, .8);
    padding-left: 2.5rem;
  }

  @media screen and (min-width:920px) {

    #pcNav {
      list-style: none;
      position: fixed;
      top: 1.2rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 3rem;
    }

    #pcNav a {
      text-decoration: none;
      color: #333;
      transition: all 0.5s;
    }

    #pcNav a:hover {
      color: #f00;
    }

  }
