{% extends "layout.html" %}

{% block title %}
    ホーム
{% endblock %}

{% block main %}
    <form action="/" method="POST">
        <label class="selectbox-005">
            <select name="prefecture">
                {% for row in rows %}
                    <option selected>都道府県を選択してください</option>
                    <option value="{{ row[prefecture] }}">{{ row["prefecture"] }}</option>
                {% endfor %}
            </select>
        </label>
        <button type="submit">検索</button>
    </form>
{% endblock %}
