{% extends "layout.html" %}

{% block title %}
    ホーム
{% endblock %}

{% block main %}
    <form action="/" method="POST">
        <label class="selectbox-005">
            <select name="prefecture">
                {% for prefectures in rows %}
                    <option selected>選択してください</option>
                    <option value="{{ prefectures["prefecture"] }}">{{ prefectures["prefecture"] }}</option>
                {% endfor %}
            </select>
            <button type="submit">検索</button>
        </label>
    </form>
{% endblock %}
