<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/styles.css" rel="stylesheet">
        <title>勉強カフェ検索: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <ul id="pcNav">
                <li><a href="">ホーム</a></li>
                <li><a href="">新規登録</a></li>
                <li><a href="">ログイン</a></li>
                <li><a href="">ログアウト</a></li>
              </ul>
            <input id="checkbox" type="checkbox">
            <label id="lineMenu" class="menu-check" for="checkbox">
              <span></span><span></span>
              <p>MENU</p>
            </label>
            <nav id="globalNav">
              <ul>
                <li><a href="">ホーム</a></li>
                <li><a href="">新規登録</a></li>
                <li><a href="">ログイン</a></li>
                <li><a href="">ログアウト</a></li>
              </ul>
            </nav>
          </header>

          <main>

            <div id="mv">
              <h1>Hello World</h1>
            </div>

            <section class="section-wrap">
              <div class="section-conts">
                <h2>Hello World</h2>
              </div>
            </section>

          </main>
    </body>
</html>