<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="../static/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://kit.fontawesome.com/5344205e39.css" crossorigin="anonymous">
        <title>勉強カフェ検索: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <ul id="pcNav">
                <li><a href="/">ホーム</a></li>
                <li><a href="/signup">新規登録</a></li>
                <li><a href="/login">ログイン</a></li>
                <li><a href="/logout">ログアウト</a></li>
            </ul>
            <input id="checkbox" type="checkbox">
            <label id="lineMenu" class="menu-check" for="checkbox">
              <span></span><span></span>
              <p>MENU</p>
            </label>
            <nav id="globalNav">
              <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="/signup">新規登録</a></li>
                <li><a href="/login">ログイン</a></li>
                <li><a href="logout">ログアウト</a></li>
              </ul>
            </nav>
        </header>
        <main>
          <div id="mv">
            {% block main %}{% endblock %}
          </div>
        </main>
    </body>
</html>